.Toastify__toast-container--top-right {
  top: 80px !important;
  right: 16px !important;
  width: auto !important;
  max-width: calc(100vw - 2rem);
}

@media (max-width: 600px) {
  .Toastify__toast-container--top-right {
    top: 72px !important;
    right: 16px !important;
    left: 16px !important;
    width: auto !important;
  }
}
